{% extends "base.html" %}

{% block title %}Восстановления пароля{% endblock %}

{% block content %}
<div class="section section-lg pt-5">
    <div class="container">
        {% if user.is_authenticated %}
            <div class="row justify-content-center">
                <div class="alert alert-secondary shadow-soft mt-mb-7 ml-3 mt-6" role="alert">
                    <span class="alert-inner--icon icon-lg"><span class="fas fa-exclamation-circle"></span></span>
                    <span class="alert-heading">Внемание!</span>
                    <p>Чтобы изменить пароль вам необходимо выйти из учетного записа</p>
                    <hr>
                    <p class="mb-0">Чтобы выйти из учетного записа нажмите <a href="{% url 'logout' %}">сюда</a>.</p>
                </div>
            </div>
        {% else %}
            <div class="row justify-content-md-around">
                <div class="col-12 col-md-6 col-lg-5 mb-5 mt-md-6 mt-5 mb-lg-0">
                    <div class="card bg-primary shadow-soft border-light p-4">
                        <div class="card-header text-center pb-0">
                            <h2 class="h4">Восстановления пароля</h2>
                            <span>Введите ваши данные для восстановления пароля</span>
                        </div>
                        {% if itn_error or user_error %}
                            <div class="mt-4 alert alert-danger alert-dismissible shadow-soft fade show" role="alert">
                                <span class="alert-inner--icon"><span class="fas fa-fire"></span></span>
                                <span class="alert-inner--text"><strong>Ошибка!</strong>
                                    {% if itn_error %}{{ itn_error }}{% endif %}
                                    {% if user_error %}{{ user_error }}{% endif %}
                                </span>
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <form method="post">{% csrf_token %}
                                <!-- Form -->
                                <div class="form-group">
                                    <label for="exampleInputIcon333">Имя пользователя</label>
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><span class="fas fa-user"></span></span>
                                        </div>
                                        <input class="form-control" name="username" id="exampleInputIcon333" placeholder="username" type="text" aria-label="Username" required>
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <div class="form-group">
                                    <!-- Form -->
                                    <div class="form-group">
                                        <label for="exampleInputPassword777">Идентификационный номер налогоплательщика (сокращенно ИНН)</label>
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><span class="fas fa-passport"></span></span>
                                            </div>
                                            <input class="form-control" name="itn" id="exampleInputPassword777" placeholder="ИНН" type="number" aria-label="itn" required>
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                </div>
                                <button type="submit" class="btn btn-block btn-primary">Отправить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>


{% endblock %}